.container {
  display: grid;
  gap: 2rem;
  width: min(1440px, calc(100% - 2rem));
  margin: 0 auto;
  padding-block: 5rem;
}

.title {
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 430px));
  gap: 1rem;
}

.card {
  display: grid;
  grid-template-columns: 128px auto;
  align-items: center;
  gap: 1rem;
  background: var(--clr-neutral-999);
  border: 1px solid rgb(148, 148, 148);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.card:where(:hover, :focus) {
  cursor: pointer;
  border-color: var(--clr-neutral-100);
}

.card__image,
.user-modal__image {
  border-radius: 50%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: rgb(128, 128, 128);
}

.card__title,
.user-modal__title {
  color: var(--clr-neutral-100);
  font-size: 1.25rem;
}

.user-modal-container {
  display: none;
  place-items: center;
  position: fixed;
  inset: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}

.user-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--clr-neutral-999);
  color: rgb(128, 128, 128);
  border: 1px solid rgb(148, 148, 148);
  border-radius: 0.5rem;
  padding: 2rem;
  max-width: 520px;
  width: 100%;
}

.user-modal__navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.user-modal__navigation-button {
  appearance: none;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  max-width: 150px;
  width: 100%;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.35s ease;
}

.user-modal__navigation-button:hover {
  background: var(--clr-neutral-100);
  color: var(--clr-neutral-999);
}

.user-modal__divider {
  margin-block: 1rem;
}

.user-modal__close {
  cursor: pointer;
  color: var(--clr-neutral-100);
  font-weight: 700;
  margin-left: auto;
}
